body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c35;
    color: white;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #1e222b;
}

h1 {
    font-size: 1.5em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
}

.countdown-item {
    background-color: #1e222b;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0 0.3em;
}

.countdown-label {
    text-align: center;
}
